{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
body %}
<main id="register">
    {{ form_start(registrationForm) }} {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }},
        <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}

    <h2>Register</h2>
    {{ form_errors(registrationForm.username) }}
    <label for="username">Username</label>
    <input
        type="text"
        name="{{field_name(registrationForm.username)}}"
        value="{{field_value(registrationForm.username)}}"
        id="username"
        class="form-control"
        autocomplete="username"
        placeholder="Username"
        max-length="180"
        required
        autofocus
    />
    {{ form_errors(registrationForm.plainPassword) }}
    <label for="password">Password</label>
    <input
        type="password"
        name="{{field_name(registrationForm.plainPassword)}}"
        class="form-control"
        autocomplete="new-password"
        placeholder="Password"
        required
    />

    {{ form_row(registrationForm.agreeTerms) }}

    <input type="submit" value="Register" />
    <p>
        If you already have an account:
        <a href="{{url('app_login')}}">login</a>.
    </p>

    {{ form_end(registrationForm) }}
</main>
{% endblock %}
